<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper dtd 작성 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.team05.noticeboard.mapper.NoticeBoardMapper">

	<insert id="regist">
		insert into notice(nno, ntitle, nid, ncontent)
		values(notice_seq.nextval, #{ntitle}, '관리자', #{ncontent} )
	</insert>
	
	
	<select id="getList" resultType="BoardVO">
		select *
		from (
		    select a.*
		    from (select *
		          from notice
		          order by nno desc)a) 
	</select>
	
	<select id="getContent" resultType="BoardVO">
		select * from NOTICE where nno =#{nno}
	</select>
	
	<update id="update">
		update NOTICE
		set 
			ntitle = #{ntitle},
			ncontent = #{ncontent},
			updatedate = sysdate
		where nno = #{nno}
	
	</update>
	
	
</mapper>